/* Боковое меню может растягиваться */
#aside, #asidebg {
    width: auto;
}

/* Так как боковое меню теперь не имеет фиксированный размер - просто скрываем его (в оригинале выставлятся margin-left на минус фиксированную ширину бокового менюы */
@media only screen and (max-width: 768px) {
    #aside,
    #asidebg {
        display: none;
    }
}

/* А если меню активно - не скрываем */
body.menu-open #aside,
body.menu-open #asidebg {
    display: block;
}